.container-for-modal {
    /* display: none; */
    position: absolute;
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
    max-height: 1024px;
    background: #AFDEFF;
    z-index: 999;
}

.wrapper-for-all-modal {
    margin: 64px auto;
    width: 100%;
    max-width: 604px;
    height: 100%;
    max-height: 882px;
}

.wrapper-for-logo img {
    /* width: 60%; */
    width: 100%;
    display: block;
    margin: 0 auto;
}

.login-modal {
    margin: 65px auto 0 auto;
    width: 70%;
    max-width: 420px;
    height: 100%;
    max-height: 487px;
    background: #FFFFFF;
    border-radius: 12px;
    -moz-border-radius: 12px;
    /* Firefox */
    -webkit-border-radius: 12px;
    /* Safari, Chrome */
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
}

.image-over-login img {
    /* width: 20%; */
    float: left;
    padding: 44px 0 0 29px;
}

.text-over-login {
    padding: 32px 31px 0 187px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    color: #636363;
}

.text-over-login span {
    font-weight: 800;
    font-size: 24px;
    line-height: 32.68px;
    color: #6175A1;
}

fieldset {
    border: none;
}

form.signin .textbox input {
    width: 360px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #A1C501;
    box-sizing: border-box;

    border-radius: 10px;
    -moz-border-radius: 10px;
    /* Firefox */
    -webkit-border-radius: 10px;
    /* Safari, Chrome */

    display: block;
    margin: 0 auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #636363;
}

.button {
    width: 360px;
    height: 80px;
    background: #A1C501;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    /* Firefox */
    -webkit-border-radius: 10px;
    /* Safari, Chrome */
    display: block;
    margin: 35px auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;

    -webkit-box-shadow: 0px 14px 5px 0px rgba(129, 156, 2, 0.75);
    -moz-box-shadow: 0px 14px 5px 0px rgba(129, 156, 2, 0.75);
    box-shadow: 0px 14px 5px 0px rgba(129, 156, 2, 0.75);
}

.button:hover {
    border: 1px solid #819C02;
}